<pip-shadow visible="true" attachmentSide="left"></pip-shadow>
<pip-shadow visible="true" attachmentSide="right"></pip-shadow>
<div fxFlex="grow" *ngIf="ctx$ | async as ctx">
  <mat-toolbar color="primary" class="pip-toolbar-shadow">
  </mat-toolbar>
  <pip-document-layout toolbar="true">
    <pip-document-content>
      <mat-toolbar>
        Nav items
      </mat-toolbar>

      <h3>{{ 'nav_icon_configurations' | transloco }}</h3>
      <button mat-raised-button (click)="onChangeIcon()">{{ 'change_icon' | transloco }}</button>
      <mat-divider></mat-divider>
      <h3>{{ 'breadcrumb_configurations' | transloco }}</h3>
      <form>
        <mat-form-field>
          <input matInput name="searchCriteria" [(ngModel)]="breadcrumbSearchCriteria">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="title1" [(ngModel)]="breadcrumbTitle1">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="title2" [(ngModel)]="breadcrumbTitle2">
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="onChangeBreadcrumb()">{{ 'change_breadcrumb' | transloco }}</button>
      <mat-divider></mat-divider>
      <h3>{{ 'nav_header_configurations' | transloco }}</h3>
      <form>
        <mat-form-field>
          <input matInput name="title1" [(ngModel)]="header.title">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="title2" [(ngModel)]="header.subtitle">
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="changeHeaderSubtitle() ">{{ 'change_title_or_subtitle' | transloco }}</button>
      <button mat-raised-button (click)="openSecondaryAction() ">{{ 'open_secondary_actions_menu' | transloco }}</button>
    </pip-document-content>
  </pip-document-layout>
</div>
