@charset "UTF-8";

@font-face {
  font-family: "ice";
  src:url("fonts/ice.eot");
  src:url("fonts/ice.eot?#iefix") format("embedded-opentype"),
    url("fonts/ice.woff") format("woff"),
    url("fonts/ice.ttf") format("truetype"),
    url("fonts/ice.svg#ice") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ice" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ice-"]:before,
[class*=" ice-"]:before {
  font-family: "ice" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ice-assistant:before {
  content: "\61";
}
.ice-wizard:before {
  content: "\62";
}
.ice-person-info-1:before {
  content: "\63";
}
.ice-cc-discover:before {
  content: "\69";
}
.ice-cc-paypal:before {
  content: "\6a";
}
.ice-cc-mastercard:before {
  content: "\6b";
}
.ice-cc-visa:before {
  content: "\6c";
}
.ice-cc-amex:before {
  content: "\6d";
}
.ice-cc-diners-club:before {
  content: "\6e";
}
.ice-sight:before {
  content: "\64";
}
.ice-tag-heart:before {
  content: "\66";
}
.ice-card-member:before {
  content: "\67";
}
.ice-card-gift:before {
  content: "\68";
}
.ice-car:before {
  content: "\6f";
}
.ice-cruise:before {
  content: "\70";
}
.ice-air:before {
  content: "\71";
}
.ice-walk:before {
  content: "\72";
}
.ice-person-info:before {
  content: "\73";
}
.ice-store:before {
  content: "\74";
}
.ice-calendar-check:before {
  content: "\75";
}
.ice-calendar-cross:before {
  content: "\76";
}
.ice-calendar-list:before {
  content: "\77";
}
.ice-location:before {
  content: "\78";
}
.ice-drink:before {
  content: "\79";
}
.ice-location-here:before {
  content: "\7a";
}
.ice-fitness:before {
  content: "\41";
}
.ice-spa:before {
  content: "\42";
}
.ice-run:before {
  content: "\43";
}
.ice-silverware:before {
  content: "\44";
}
.ice-emoji:before {
  content: "\45";
}
.ice-logo:before {
  content: "\46";
}
.ice-info-black:before {
  content: "\47";
}
.ice-card-travel:before {
  content: "\65";
}
.ice-tags:before {
  content: "\48";
}
.ice-money:before {
  content: "\49";
}
.ice-tag:before {
  content: "\4b";
}
.ice-bag-check:before {
  content: "\4c";
}
.ice-bag-down:before {
  content: "\4d";
}
.ice-star-black:before {
  content: "\56";
}
.ice-building:before {
  content: "\5a";
}
.ice-building-1:before {
  content: "\30";
}
.ice-hot:before {
  content: "\39";
}
.ice-hotel:before {
  content: "\26";
}
.ice-card:before {
  content: "\29";
}
.ice-heart-black:before {
  content: "\2a";
}
.ice-calendar:before {
  content: "\2b";
}
.ice-features-1:before {
  content: "\2c";
}
.ice-features:before {
  content: "\2d";
}
.ice-home:before {
  content: "\2e";
}
.ice-heart-white:before {
  content: "\2f";
}
.ice-info-white:before {
  content: "\3a";
}
.ice-cup:before {
  content: "\3b";
}
.ice-resort:before {
  content: "\4a";
}
.ice-signout:before {
  content: "\4e";
}
.ice-settings:before {
  content: "\4f";
}
